nav{
   
   
    z-index: 222;
  
    height:300px;

}
ul{
    margin:0;
    padding:0;
    display:flex;
    justify-content: space-around;
}
li{
    list-style: none;
    margin:20px;
}
.ham{
    background-color: transparent;
   display:none;
    position: absolute;
    right:10px;
    top:7px;
}
.close{
    background-color: transparent;
    position: absolute;
    right:10px;
    top:7px;
    display:none;
}
@media(max-width:600px){
    nav{
        
        padding:0 15px;
        width:250px;
        margin-bottom: 25px;
       
    }
    ul{
        width:300px;
        margin:0;
        background-color: white;
        padding:0;
        display:flex;
        justify-content: space-around;
        flex-direction: column;
    }
    li{
        
    }
    .ham{
        display:block;
    }
    .close{
        display:block;
    }
}